<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :due_date ,"期日" %><br>
    <%= f.date_select :due_date ,use_month_numbers: true%>
  </div>
  <div class="field">
    <%= f.label :category_id ,"カテゴリーID" %><br>
    <%= f.collection_select :category_id, Category.all, :id, :categoryname %>
  </div>
  <div class="field">
    <%= f.label :name ,"予定" %><br>
    <%= f.text_field :name, maxlength: 15 %>
  </div>
  <div class="field">
    <%= f.label :done ,"完了" %><br>
    <%= f.check_box :done %>
  </div>
  <div class="field">
    <%= f.label :user_id ,"ユーザーID" %><br>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </div>
  <div class="actions">
    <%= f.submit "登録"%>
  </div>
<% end %>
